<!-- Insert Body Content Here-->
section.body
  .wrap
    header
      h2 This is the main body heading.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et lectus non justo molestie porta vitae id sapien. Morbi fringilla sit amet ex vel ultricies.
